{% include "base.html" %}

<style>
  h1 {
     color: #67086E;
  }
</style>

{% block body %}
<h1> Challenge 1 </h1>

<p> You are on the {{ page }} </p>
<canvas id="challengeGame" width="400" height="400" style="background: 	#3CB371; display: block; margin: auto; border:1px solid #000000"> </canvas>
<!--
  <canvas id="textEditor" width="400" height="400"  style="background: #FFFFFF; display: block; margin: 0; float: left; border:1px solid #000000"> </canvas>
  var canvas = document.getElementById("textEditor");
  var ctx = canvas.getContext("2d");
-->
<script>
  var canvas = document.getElementById("challengeGame");
  var ctx = canvas.getContext("2d");

</script>
{% endblock %}
