{% load static %}
<!DOCTYPE html>
<html>
  <head>
  	<title>Challenge 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/challengestyle.css" %}" />
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
  </head>

  <body>
    <div id="titlecard">
    <center><ul>
      <li class="menu"><a href="http://localhost:8000/home">Home</a></li>
      <li class="menu"><a href="http://localhost:8000/challenge">Challenge</a></li>
      <li class="menu"><a href="http://localhost:8000/admin">Admin</a></li>
    </ul></center>

    </div>
    <p>
      <button onclick="getUserJS()">Compile</button>
    </p>
    <!-- This will be for the user to enter their "javascript" -->
<textarea id="js" placeholder="JavaScript">
if(keyPressed == rightKey) {
//insert solution
}
if(keyPressed == upKey) {
//insert solution
}
</textarea>

  <!--  <iframe id="code"></iframe> -->
  <canvas id = "challengeGame" width ="700" height="500" style="background:#e6faff; display: block; margin: auto; border:1px solid #000000"></canvas>
  <script>

  var launch_game = 0;
  var correctly_compiled = 0;
    function getUserJS() {
      launch_game = 1;
      var total_lines_match = 0;
      var correct_lines = ["if(keyPressed == rightKey) {", "//insert solution", "}", "if(keyPressed == upKey) {", "//insert solution", "}"];
      var lines = document.getElementById('js').innerHTML.split('\n');
      for(var i = 0;i < lines.length;i++){
        //code here using lines[i] which will give you each line
        if(lines[i] == correct_lines[i]) {
          total_lines_match++;
          //window.alert(lines[i]);
        }
      }
    /*  if(total_lines_match == 4) {
        correctly_compiled = 1;
        launch_game = 1;
      } else {
        window.alert("Incorrect: Unable to compile");
      }*/

  //    window.alert(total_lines_match);
      //make sure when compare total lines matched checked if < 6
    }
  //  getUserJS();

    function correctInput() {
      launch_game = 1;
    }

  function challengeGame(){
    var context, controller, image, loop;
    var canvas = document.getElementById("challengeGame");
    var game = canvas.getContext("2d");
    var runner_x_pos = 10;
    var runner_y_pos = 255;
    var if_jumping = false;
    var flag = 0;
    /*
      Referred to https://github.com/frankarendpoth/frankarendpoth.github.io/blob/master/content/pop-vlog/javascript/2017/009-control/control.js
      for how to get the chracter to jump.
    */
    rectangle = {

      height:32,
      jumping:true,
      width:32,
      x:10, // center of the canvas
      x_velocity:0,
      y:255,
      y_velocity:0

    };

    controller = {

      left:false,
      right:false,
      up:false,
      keyListener:function(event) {

        var key_state = (event.type == "keydown")?true:false;

        switch(event.keyCode) {

          case 37:// left key
            controller.left = key_state;
          break;
          case 38:// up key
            controller.up = key_state;
          break;
          case 39:// right key
            controller.right = key_state;
          break;

        }

      }

    };

    loop = function() {
      if (controller.up && rectangle.jumping == false && launch_game == 1) {

        rectangle.y_velocity -= 20;
        rectangle.jumping = true;

      }
      if (controller.left && launch_game == 1) {

        rectangle.x_velocity -= 0.5;

      }
      if (controller.right && launch_game == 1) {

        rectangle.x_velocity += 0.5;

      }
      if(rectangle.x <700 && launch_game == 1){
        rectangle.y_velocity += 1.5;// gravity
        rectangle.x += rectangle.x_velocity;
        rectangle.y += rectangle.y_velocity;
        rectangle.x_velocity *= 0.9;// friction
        rectangle.y_velocity *= 0.9;// friction

      }
      //320 370, 150 200
      if(((rectangle.x >= 150 && rectangle.x <= 180 && rectangle.y >245) || (rectangle.x >=320 && rectangle.x <=350 && rectangle.y > 245)) && launch_game ==1){
        rectangle.y+=rectangle.y_velocity;
        flag = 1;
      }
      if ((rectangle.y > 300 - 16 - 32) && (launch_game == 1)) {
        if(flag == 0){
          rectangle.jumping = false;
          rectangle.y = 300 - 16 - 32;
          rectangle.y_velocity = 0;

        }
      }
      if(rectangle.y > 500) {
        game.font = "20px sans-serif";
        game.fillStyle = "black";
        game.fillText("GAME OVER", 270, 235);
      }
      if(rectangle.x >=700) {
        game.font = "25px sans-serif";
        game.fillStyle = "magenta";
        game.fillText("GOOD JOB!!", 275, 235);
      }
/*      if (rectangle.x < -32) {

        rectangle.x = 320;

      } if (rectangle.x > 320) {// if rectangle goes past right boundary

        rectangle.x = -32;

      }
*/
      game.beginPath();
      game.strokeStyle = "000000";
      game.stroke();
      game.rect(0,300, 150, 200);
      game.rect(200, 300, 120, 200);
      game.rect(370, 300, 400, 200);
      game.fillStyle = "#53c653";
      game.fill();
      game.strokeStyle = "#000000";
      game.stroke();
      game.closePath();

      //ending banner
      game.beginPath();
      game.rect(660, 250, 40, 50);
      game.fillStyle="#000000"
      game.fill();
      game.closePath();

      game.font = "20px sans-serif";
      game.fillStyle = "#000000";
      game.fillText("END", 660, 245);

      //1st cloud
      game.beginPath();
      game.arc(100, 75, 25, 0, Math.PI*2, false);
      game.arc(75, 85, 25, 0, Math.PI*2, false);
      game.arc(125, 75, 25, 0, Math.PI*2, false);
      game.arc(150, 100, 25, 0, Math.PI*2, false);
      game.arc(125, 105, 25, 0, Math.PI*2, false);
      game.arc(100, 105, 25, 0, Math.PI*2, false);
      game.arc(75, 95, 25, 0, Math.PI*2, false);
      game.fillStyle = "#FFFFFF";
      game.fill();
      game.closePath();
//320 370, 150 200
      //2nd cloud
      game.beginPath();
      game.arc(300, 75, 25, 0, Math.PI*2, false);
      game.arc(325, 75, 25, 0, Math.PI*2, false);
      game.arc(350, 85, 25, 0, Math.PI*2, false);
      game.arc(375, 100, 25, 0, Math.PI*2, false);
      game.arc(390, 100, 25, 0, Math.PI*2, false);
      game.arc(300, 100, 25, 0, Math.PI*2, false);
      game.arc(325, 100, 25, 0, Math.PI*2, false);
      game.arc(275, 100, 25, 0, Math.PI*2, false);
      game.arc(375, 110, 25, 0, Math.PI*2, false);
      game.arc(360, 110, 25, 0, Math.PI*2, false);
      game.arc(340, 110, 25, 0, Math.PI*2, false);
      game.fillStyle = "#FFFFFF";
      game.fill();
      game.closePath();

      //3rd cloud
      game.beginPath();
      game.arc(500, 75, 25, 0, Math.PI*2, false);
      game.arc(525, 75, 25, 0, Math.PI*2, false);
      game.arc(550, 85, 25, 0, Math.PI*2, false);
      game.arc(575, 100, 25, 0, Math.PI*2, false);
      game.arc(590, 100, 25, 0, Math.PI*2, false);
      game.arc(500, 100, 25, 0, Math.PI*2, false);
      game.arc(525, 100, 25, 0, Math.PI*2, false);
      game.arc(475, 100, 25, 0, Math.PI*2, false);
      game.arc(575, 110, 25, 0, Math.PI*2, false);
      game.arc(560, 110, 25, 0, Math.PI*2, false);
      game.arc(540, 110, 25, 0, Math.PI*2, false);
      game.fillStyle = "#FFFFFF";
      game.fill();
      game.closePath();



      var img = new Image();
      img.onload = function () {
        game.clearRect(0, 0, canvas.width, canvas.height);
        game.beginPath();
        game.drawImage(img, rectangle.x, rectangle.y);
        game.closePath();
      }
      img.src = "{% static "images/code_runner.png" %}";
      window.requestAnimationFrame(loop);
    };
//    document.onkeydown = keyDown;
    window.addEventListener("keydown", controller.keyListener)
    window.addEventListener("keyup", controller.keyListener);

    window.requestAnimationFrame(loop);
  }
  challengeGame();
  </script>
<!--    <script src="{% static "js/loadchallenge.js" %}"></script> -->

  </body>
</html>
