/* color is for testing purposes only*/
body {
  background-color: #FCDDFE;
}
h1 {
  font-family: Magneto;
  background-color: #67086E;
  text-align:center

}
  canvas {
    background: #eee;
    display: block;
    margin: 0;
    float: right;
  }
  .menu{
	display: inline;
	padding: 10px;
	background-color:#67086E;
}
