body {
  text-align: left;
}

textarea {
  width: 49%;
  float: left;
  min-height: 500px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #F4F4F9;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}


p{
  text-align: center;
}


iframe {
  float: right;
  background: #F4F4F9;
  position: relative;
  width: 50%;
  min-height: 500px;
}
